@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.consumable {
    background-color: rgb(31, 41, 75);
    padding: 10px;
    border-radius: 5px;
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

#consumable-container {
    width: 95%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.update-button, .delete-button, #cancel-button {
    height: 25px;
    color: white;
    font-size: 16px;
}

.update-button {
    background-color: rgb(173, 120, 20);
}

.delete-button, #cancel-button {
    background-color: rgb(156, 48, 48);
}

#cancel-button {
    height: 40px;
    font-size: 18px;
    color: black;
}

#logout-button {
    padding: 10px;
    position: absolute;
    right: 3px;
    top: 3px;
}

#add-button {
    height: 25px;
    width: 140px;
    font-size: 16px;
    color: white;
    background-color: rgb(46, 151, 46);
}

#create-window {
    padding: 10px;
    border: 2px solid rgb(91, 111, 179);
    background-color: rgb(31, 41, 75);
    width: 375px;
    max-width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 0px;
    display: none;
}

#create-window>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

textarea {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    border-radius: 5px;
    height: 100px;
    padding: 5px;
}

textarea:focus {
    outline: none;
}

.small-text {
    font-style: italic;
}

.consumable>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.red-border, .red-border:focus {
    outline: 3px solid red !important;
}

.error-text {
    color: rgb(172, 0, 0);
    margin-left: 5px;
}